# Database Configuration
POSTGRES_DB=webhall_db
POSTGRES_USER=webhall_user
POSTGRES_PASSWORD=webhall_password
POSTGRES_PORT=5432

# Django Configuration
DEBUG=True
SECRET_KEY=django-insecure-change-this-in-production
APP_PORT=8000
